# EditorConfig helps developers define and maintain consistent coding styles between different editors and IDEs
# Top-most EditorConfig file
root = true

[*]
charset = utf-8
end_of_line = lf
trim_trailing_whitespace = true
insert_final_newline = true
max_line_length = 120

[.devcontainer/*]
max_line_length = 400

[dashboards/*.json]
max_line_length = 400

[*.sh]
indent_style = tab
indent_size = 2

[*.md]
indent_style = space
indent_size = 2
max_line_length = 400

[*.py]
indent_style = space
indent_size = 4
